.header-row {
    display: flex;
    gap: 36px;
    align-items: center;
}

.headling {
    flex-grow: 1;
    flex-shrink: 1;
}

.info-wrapper {
    padding-top: 41px;
    display: flex;
    gap: 48px;
}

.image {
    height: 248px;
    width: 323px;
    background: no-repeat top left;
    background-size: cover;
    border-radius: 18px;
}

.item {
    min-width: 201px;
    display: flex;
    justify-content: space-between;
}

.hr {
    border: none;
    border-bottom: 1px solid #F1F2F3;
}

.item-name {
    font-size: 16px;
}

.price {
    font-size: 19px;
}

.price span {
    font-size: 14px;
    color: #9796A1;
}

.rating {
    display: flex;
    align-items: center;
    height: 29px;
    background-color: var(--white-color);
    border-radius: 25px;
    box-shadow: 0 6px 25px rgba(254, 114, 76, .2);
    padding: 0 8px;
}

.rating img {
    vertical-align: middle;
}

.info-content {
    color: #5B5B5E;
    font-size: 15px;
}

.info-content p {
    font-weight: 600;
}